<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>個人檔案頁面</title>
    <style>
      .posts {
        padding: 2rem;
      }
      section.user-info img {
        border-radius: 50%;
        display: inline-block;
        padding: 1rem 0.5rem;
      }
      section.user-info h1 {
        padding: 1rem 0.5rem;
      }
      .flex-container {
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <%- include ("partials/message") %>
    <section class="user-info" style="margin-bottom: 50px;">
      <div class="flex-container">
        <% if (user.thumbnail){ %>
        <img src="<%= user.thumbnail %>" alt="個人圖片" />
        <% } %>
        <h1><%= user.name %>的個人檔案頁面</h1>
      </div>
      <ul>
        <% if (user.googleID) { %>
        <li>Google的ID為： <%= user.googleID %></li>
        <% } %>
        <li>時間為：<%= user.date %></li>
      </ul>
    </section>
    <% if (post.length > 0){ %>
      <section style="display:flex; justify-content: space-around; flex-wrap: wrap; width: 50vw">
        <%for (let i = 0; i < post.length; i++){%>
        <div class="post-card" style="border: 3px solid; padding: 20px; border-radius: 30px; margin-bottom: 50px;">
          <h3 class="title" ><%= post[i].title %></h3>
          <div class="content" style="border: 1.5px solid; padding: 20px; border-radius: 30px;"><%= post[i].content %></div>
          <h5 class="author" style="font-size: 14px; margin-top: 30px;">post by <%= user.name %></h5>
        </div>
        <%}%>
      </section>
    <%}%>
     
 
  </body>
</html>
